<div class="projects"> 

	<div class="row">

	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="resourses/img/300x300-ad-placeholder.jpg" data-src="holder.js/300x300" alt="first game">
	      <div class="caption">
	        <h3>Blocks</h3>
	        <p>this is my first game. I'll start working on it as soon as posible.</p>
	        <p><a href="#" class="btn btn-primary" role="button">View on GitHub</a> 
	           <a href="#/projects/blocks" class="btn btn-default" role="button">Play</a>
	        </p>
	      </div>
	    </div>
	  </div>

	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="resourses/img/300x300-ad-placeholder.jpg" data-src="holder.js/300x300" alt="second game">
	      <div class="caption">
	        <h3>second game</h3>
	        <p>this is my second game. I'll start working on it when I'll finish my first game.</p>
	        <p><a href="#" class="btn btn-primary" role="button">View on GitHub</a> 
	           <a href="#" class="btn btn-default" role="button">Play</a>
	        </p>
	      </div>
	    </div>
	  </div>

	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="resourses/img/300x300-ad-placeholder.jpg" data-src="holder.js/300x300" alt="third game">
	      <div class="caption">
	        <h3>third game</h3>
	        <p>this is my third game. I'll start working on it when I'll finish my first and second games.</p>
	        <p><a href="#" class="btn btn-primary" role="button">View on GitHub</a> 
	           <a href="#" class="btn btn-default" role="button">Play</a>
	        </p>
	      </div>
	    </div>
	  </div>

	</div>

	<div class="row">
		<div>project id: {{progectId}}</div>
	</div>
<div>