<div class="blocks container"> 
	<div class='wrapper'>

	    <div></div>	    <div></div>	    <div></div>	    <div></div>
	    
	    <div></div>	    <div></div>	    <div></div>	    <div></div>
	    
	    <div></div>	    <div></div>	    <div></div>	    <div></div>
	    
	    <div></div>	    <div></div>	    <div></div>	    <div></div>
	    
	</div>

	<div class='control' style='display:inline-block;'>
	    <button class='move-up' style=''>up</button></br>
	    <button class='move-left' style=''>left</button>
	    <button class='move-down' style=''>down</button>
	    <button class='move-right' style=''>right</button>
	</div>
<div>