 app css stylesheet */
.navigation > .navbar{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.navigation .navbar ul.navbar-nav{
	float: right;
}

[app-container] {
  width: 100%;
}

.projects .thumbnail img{
	height: 300px;
	width: 300px;
	opacity: 0.9;
}

[ng-view].container,
[ng-view] .blocks{
	padding: 0px;
}

/*==============================================================*/
/*			start of styles for game "blocks"					*/
.blocks .wrapper{
	float:left;
    width: 204px;
    border:1px solid red;
    font-size:0;
    padding: 3px;
    margin: 20px;
}

.blocks .wrapper div{
    height: 50px;
    width: 50px;
    border:1px solid gray;
    display: inline-block;
    margin: -1px 0 0 -1px;
}
.blocks .wrapper span,
.blocks .wrapper div span{
	font-size: 16px;
    padding: 14px 0;
    position: absolute;
    width: 50px;
    text-align: center;
}

.blocks .wrapper div span.moving{
    -webkit-animation: moving 2s; /* Chrome, Safari, Opera */
    animation: moving 2s;
}

.blocks .control{
    padding-top:50px;
    margin-left: 100px;    
}

.blocks .control .move-up{
    margin-left: 50px;
}
/*			end of styles for game "blocks"						*/
/*==============================================================*/

/*==============================================================*/
/*			start of styles for "charts"						*/
.charts .wrapper{
    /*border:1px solid red;*/
}

.charts .control{
	position: absolute;
    padding-top: 100px;
    margin-left: 100px;    
}

.charts .control .my-form {
   -webkit-transition:all linear 0.5s;
   transition:all linear 0.5s;
   background: transparent;
 }
 
.charts .control .my-form .ng-invalid {
   background: red;
 }
/*			end of styles for "charts"							*/
/*==============================================================*/


/*==============================================================*/
/*          styles for "ngAnimate"                              */
.animate {

}
/*          end of styles for "ngAnimate"                          */
/*==============================================================*/
